.is-logged-in {
  position: relative;
  cursor: pointer;

  .profile {
    padding: 0 0.5rem;
  }

  .drop-down {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: 12.5rem;
    animation-name: fadeDown;
    animation-duration: 0.5s;

    &.is-visible {
      display: block;
    }

    ul {
      padding: 0;
    }

    li {
      color: #fff;
      margin: 0;
      line-height: 2rem;
      padding: 0.5rem;
      cursor: pointer;

      &:hover {
        background: lighten(#33383a, 10%);
      }

      a {
        color: #fff;
        display: block;
      }
    }

    &::before {
      position: absolute;
      top: -0.45rem;
      right: 1rem;
      content: '';
      border-left: 0.5rem solid transparent;
      border-right: 0.5rem solid transparent;
      border-bottom: 0.5rem solid;
      height: 0;
      width: 0;
    }
  }
}


@keyframes fadeDown {
  from {
    opacity: 0.25;
    transform: translate(0, -0.5rem);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
