@import "profile";

.user-profile {
  margin-right: 1rem;

  &::after {
    content: '';
    clear: both;
    display: table;
  }
}

.login-form, .sign-up-form {

  input {
    text-align: center;
  }

  button {
    width: 100%;
  }
}

.material-icons {
  vertical-align: middle;
  margin-right: 0.5rem;
}
